<button class="add-button" (click)="toggleExpand()">Add Student</button>
<div class="expand" [class.active]="isExpand">
    <section class="form_header">
        Enter Student Details:
    </section>
    <section class="form_body">
        <form action="">
            <form action="" class="student_form">
                <div class="form_column">
                    <label for="">Enter Id: </label>
                    <input type="text" name="" id="">
                </div>
                <div class="form_column">
                    <label for="">Enter Name: </label>
                    <input type="text" name="" id="">
                </div>
                <div class="form_column">
                    <button type="button">Save</button>
                </div>
            </form>
        </form>
    </section>

</div>
