<main class="table">
    <section class="table-header">
        Student table
    </section>
    <section class="table-body">
        <table>
            <thead>
                <tr>
                    <th>Id</th> 
                    <th>Student</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Marks</th>
                </tr>
            
                
            </thead>
            <tbody>
                <tr *ngFor="let student of studentData">
                    <td>{{student.id}}</td>
                    <td>{{student.student | titlecase }}</td>
                    <td>{{student.phone}}</td>
                    <td>{{student.email}}</td>
                    <td>{{student.gender}}</td>
                    <td>{{student.marks}}</td>
                    
                </tr>  
            </tbody>
        </table>
    </section>
</main>